<nav class="md:bg-[url('/images/bg-sidebar-desktop.svg')] bg-[url('/images/bg-sidebar-mobile.svg')] bg-cover md:bg-auto md:w-2/3 md:h-full rounded-0 md:rounded-lg w-screen h-1/4 items-center -mt-3 md:mt-0">
    <div class="flex flex-row md:flex-col justify-center md:justify-start w-full h-full pl-2 pt-2 md:space-y-5 space-y-0 md:space-x-0 space-x-3">
        <!-- step1 -->
        <div class="cursor-pointer step flex items-center space-x-1">
            <span class="step-number p-1 px-3 border-2 border-white text-white rounded-full hover:border-transparent hover:bg-Lightblue hover:text-black">1</span>

            <!-- text part -->
            <div class="hidden md:flex flex-col text-start">
                <span class="text-Coolgray">STEP 1</span>
                <span class="font-bold text-white">YOUR INFO</span>
            </div>
        </div>

        <div class="cursor-pointer step flex items-center space-x-1">
            <span class="step-number p-1 px-3 border-2 border-white text-white rounded-full hover:border-transparent hover:bg-Lightblue hover:text-black">2</span>

            <!-- text part -->
            <div class="hidden md:flex flex-col text-start">
                <span class="text-Coolgray">STEP 2</span>
                <span class="font-bold text-white">SELECT PLAN</span>
            </div>
        </div>

        <div class="cursor-pointer step flex items-center space-x-1">
            <span class="step-number p-1 px-3 border-2 border-white text-white rounded-full hover:border-transparent hover:bg-Lightblue hover:text-black">3</span>

            <!-- text part -->
            <div class="hidden md:flex flex-col text-start">
                <span class="text-Coolgray">STEP 3</span>
                <span class="font-bold text-white">ADD ONS</span>
            </div>
        </div>

        <div class="cursor-pointer step flex items-center space-x-1">
            <span class="step-number p-1 px-3 border-2 border-white text-white rounded-full hover:border-transparent hover:bg-Lightblue hover:text-black">4</span>

            <!-- text part -->
            <div class="hidden md:flex flex-col text-start">
                <span class="text-Coolgray">STEP 4</span>
                <span class="font-bold text-white">SUMMARY</span>
            </div>
        </div>
        
    </div>
</nav>