<section class="relative container mx-auto md:h-full md:bg-transparent md:rounded-0 bg-white rounded-lg w-full p-2 py-4">
    <div class="flex flex-col justify-start space-y-6">
        <!-- text -->
        <div class="flex flex-col text-start">
            <h1 class="h1 text-3xl text-marineBlue">Personal Info</h1>
            <span class="text-Coolgray">
                Please provide your name, email, and phone number.
            </span>
        </div>

        <form action="" class="flex flex-col justify-start space-y-4">
            <div class="flex flex-col">
                <label for="name" class="text-marineBlue">Name</label>
                <input type="text" name="name" id="" class="focus:outline-none focus:ring-0 border-2 border-Coolgray py-1 rounded-lg" placeholder="eg John Doe">
            </div>
            <div class="flex flex-col">
                <label for="name" class="text-marineBlue">Email</label>
                <input type="email" name="email" id="" class="focus:outline-none focus:ring-0 border-2 border-Coolgray py-1 rounded-lg" placeholder="example@gmail.com">
            </div>
            <div class="flex flex-col">
                <label for="name" class="text-marineBlue">Phone Number</label>
                <input type="tel" name="phone_number" id="" class="focus:outline-none focus:ring-0 border-2 border-Coolgray py-1 rounded-lg" placeholder="233 553040899">
            </div>
        </form>
    </div>
    <div class="hidden md:flex justify-end items-end absolute bottom-0 right-0">
        <button class="self-end bg-marineBlue border-2 border-transparent py-2 px-5 text-white rounded-lg hover:bg-Purplishblue hover:text-white hover:border-transparent">Next Step</button>
    </div>
</section>