<section class="relative container mx-auto md:h-full md:bg-transparent md:rounded-0 bg-white rounded-lg w-full p-2 py-4">
    <div class="flex flex-col justify-start space-y-6">
        <!-- text -->
        <div class="flex flex-col text-start">
            <h1 class="h1 text-3xl text-marineBlue">Select your plan</h1>
            <span class="text-Coolgray">
                You have the option of monthly or yearly billing.
            </span>
        </div>

        <!-- plans -->
        <div class="flex flex-col md:flex-row w-full space-y-3 md:space-y-0 md:space-x-3">
            <!-- plan -->
            <div class="hover:border-Purplishblue cursor-pointer plan container mx-auto pl-2 border-2 border-Lightgray rounded-lg">
                <img src="/images/icon-arcade.svg" alt="">
                <div class="flex flex-col text-start">
                    <h1 class="h1">Arcade</h1>
                    <span class="text-Coolgray">$5/mo</span>
                </div>
            </div>

            <div class="hover:border-Purplishblue cursor-pointer plan container mx-auto pl-2 border-2 border-Lightgray rounded-lg">
                <img src="/images/icon-arcade.svg" alt="">
                <div class="flex flex-col text-start">
                    <h1 class="h1">Arcade</h1>
                    <span class="text-Coolgray">$5/mo</span>
                </div>
            </div>

            <div class="hover:border-Purplishblue cursor-pointer plan container mx-auto pl-2 border-2 border-Lightgray rounded-lg">
                <img src="/images/icon-arcade.svg" alt="">
                <div class="flex flex-col text-start">
                    <h1 class="h1">Arcade</h1>
                    <span class="text-Coolgray">$5/mo</span>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden md:flex justify-end items-end absolute bottom-0 right-0">
        <button class="self-end bg-marineBlue border-2 border-transparent py-2 px-5 text-white rounded-lg hover:bg-Purplishblue hover:text-white hover:border-transparent">Next Step</button>
    </div>
</section>